# IDEs
.idea
.vscode
.vs

# Build Output
build/
output/
*.obj
*.o
*.exe
*.pdb
*.ilk
*.lib
log_analyzer_hybrid

# Python
__pycache__/
*.pyc

# Benchmark Data & Results
bench_data*/
test_data/
plots_bak/
log_dir/